body {
    height: 100vh;
}

.row .col-9, .row .col {
    max-height: 50vh;
}

#main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#title {
    bottom: 30%;
    right: 20px;
}

#text {
    bottom: 10%;
    right: 20px;
    width: 60%;
}

.carousel-img {
    width: 100%;
    height: calc(100% / 5);
    transition: all .3s;
}

.carousel-img.active {
    border: 4px solid white;
}

.arrow {
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(252, 252, 252, 0.452);

    padding: .2rem .4rem;
    cursor: pointer;
}

#arrow-up {
    top: 10px;
}

#arrow-down {
    bottom: 10px;
}
